{% extends 'base.html.twig' %}

{% block body %}

<div class="main-content-inner">
    <div class="row">
                    <!-- data table start -->
        <div class="col-12 mt-5">
            <div class="card">
            <div class="card-body">
        
                            </div>
                        </div>
                    </div>
                    <!-- data table end -->
                </div>
            </div>
                
    {% endblock %}

    {% block javascripts %}
    

    {% endblock %}        
        
