{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1>Prénom(s): {{ employe.prenom }}</h1>
<p>Adresse: {{ employe.adresse }}</p>
<p>Fonction: {{ employe.fonction }}</p>
</div>
{% endblock %}