{% extends 'base.html.twig' %}

{% block title %}Editer employé{% endblock %}
{% block body %}
{% if app.user %}
<div class="container">
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
</div>

{% else %}
<div class="container">
 <p>Vous devez d'abord connecter.</p>
 </div>
{% endif %}
{% endblock %}