{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1>Liste des employés</h1>


<table id="employes" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  {% for employe in employes %}
  <tbody>
      <td>{{ employe.nom }}</td>
      <td>
      	<a href="{{ path('employe_show', {id: employe.id} )}}" class="btn btn-success">Voir</a>
      	<a href="#" class="btn btn-danger delete-employe">Supprimer</a>
      </td>
   </tbody>
   {% endfor %}
</table>
<a class="btn btn-primary" href="{{ path('new_employe') }}">Nouveau employé</a>
</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
   		alert(2);
	</script>

{% endblock %}