{% extends 'base.html.twig' %}

{% block body %}
{% if app.user %}
<h1>GESTION PERMISSION ETO</h1>

{% else %}
 <div class="container">
 	<p>Vous devez d'abord connecter.</p>
 </div>
{% endif %}
{% endblock %}