{% extends 'base.html.twig' %}

{% block body %}
{% if app.user %}
<div class="container">
	<h1>GESTION CONGES ETO</h1>
</div>

{% else %}
<div class="container">
 <p>Vous devez d'abord connecter.</p>
 </div>
{% endif %}
{% endblock %}